- run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc
- run: npm publish

# registry=https://registry.npmjs.org/
# @tjanson:registry=https://npm.pkg.github.com/
# //npm.pkg.github.com/:_authToken=${{ secrets.NPM_SECRET }}